<template name="KillerAliveLeagues">
  <div id="KillerAliveLeagues">
    <div class="table-responsive table-wrapper">
      <table id="KillerAliveTable" class="table table-hover">
        <thead>
          <tr>
            <th>League name</th>
            <th>Pick for gameweek {{gameWeekDateFormatted currentGameWeek}}</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          {{#each userAliveLeaguesList}}
            <tr>
              <td>{{leagueName}}</td>
              {{#if round}}
                <td>{{> KillerChoiceWidget}}</td>
              {{else}}
                <td>This league hasn't started yet</td>
              {{/if}}
              <td>{{> MiniActiveLeagueDetails}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>
