<template name="KillerAliveLeagues">
  <div id="KillerAliveLeagues">
    <div class="table-responsive table-wrapper">
      <table id="KillerAliveTable" class="table table-hover">
        <thead>
          <tr>
            <!-- TODO: give span below class of small text -->
            <th>League name<br><span>(Tap for more details)</span></th>
            <th>Pick for gameweek {{formatDate currentGameWeek "gameWeekDate"}}</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <!-- TODO: if no leagues, display instructions -->
          <!-- TODO: shade dead leagues red??? And sort to bottom??-->
          {{#each this}}
            <tr>
              <td><button class="btn leagueDetailsButton" data-modal="modalFullActiveLeagueDetails">{{leagueName}}</button></td>
              <td>
                {{> KillerChoiceWidget}}
                {{#if acceptingNewMembers}}
                  (Starts on {{formatDate leagueDeadline "gameWeekDate"}})
                {{/if}}
              </td>
              <td>{{> MiniActiveLeagueDetails}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>
