<template name="KillerAliveLeagues">
  <div id="KillerAliveLeagues">
    <div class="table-responsive table-wrapper">
      <table id="KillerAliveTable" class="table table-hover">
        <thead>
          <tr>
            <th>League name</th>
            <th>Pick for gameweek {{gameWeekDateFormatted currentGameWeek}}</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          {{#each userAliveLeaguesList}}
            <tr>
              <td><button class="btn leagueDetailsButton" data-modal="modalFullActiveLeagueDetails">{{leagueName}}</button></td>
              <td>
                {{> KillerChoiceWidget}}
                {{#if equals round 0}}
                  Starts on {{dateStarting}}
                {{/if}}
              </td>
              <td>{{> MiniActiveLeagueDetails}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>
