<template name="KillerLeagues">
  <div id="KillerLeagues">
    <!-- TODO: centre updating stuff in div-->
    {{#unless noLeagues}}
      {{> WelcomeNote}}
    {{else}}
      {{#if equals currentGameStatus "updating"}}
        {{> spinner}}
        <p>
          Leagues updating!
        </p>
      {{else}}
        {{#if endedLeaguesExist}}
          <span>Showing {{leaguesShowing}} leagues <button type="btn btn-primary" id="leagueToggle">Show {{leaguesHidden}} leagues</button></span>
        {{/if}}
        {{#with userLeaguesList}}
          {{#if equals leaguesShowing "active"}}
            {{> KillerAliveLeagues}}
          {{else}}
            {{> KillerFinishedLeagues}}
          {{/if}}
        {{/with}}
      {{/if}}
    {{/unless}}
  </div>
</template>
