<template name="KillerLeagues">
  <div id="KillerLeagues">
    <!-- TODO: centre updating stuff in div-->
    {{#unless leaguesCount}}
      {{> WelcomeNote}}
    {{else}}
      {{#if equals currentGameStatus "updating"}}
        {{> spinner}}
        <p>
          Leagues updating!
        </p>
      {{else}}
        {{#if endedLeaguesExist}}
          <div class="toggleLeagues">
            <button class="btn btn-default" id="leagueToggle"><i class="fa fa-bomb"></i> Switch to {{leaguesHidden}} leagues</button>
          </div>
        {{/if}}
        {{#with userLeaguesList}}
          {{#if equals leaguesHidden "finished"}}
            {{> KillerAliveLeagues}}
          {{else}}
            {{> KillerFinishedLeagues}}
          {{/if}}
        {{/with}}
      {{/if}}
    {{/unless}}
  </div>
</template>
