.disabled {
  opacity : .6;
}

.formErrorMessages {
  color : red;
}

.inline {
  display: inline;
}

/*Sharing buttons*/

/* TODO: Change border radius */

.sharingButtonsList li {
  display: inline;
}

.btn-twitter {
    background: #00acee;
    border-radius: 0;
    color: #fff
}
.btn-twitter:link, .btn-twitter:visited {
    color: #fff
}
.btn-twitter:active, .btn-twitter:hover {
    background: #0087bd;
    color: #fff
}
.btn-facebook {
    background: #3b5998;
    border-radius: 0;
    color: #fff
}
.btn-facebook:link, .btn-facebook:visited {
    color: #fff
}
.btn-facebook:active, .btn-facebook:hover {
    background: #30477a;
    color: #fff
}
/* TODO: change colours for email */
.btn-email {
    background: #3b5998;
    border-radius: 0;
    color: #fff
}
.btn-email:link, .btn-email:visited {
    color: #fff
}
.btn-email:active, .btn-email:hover {
    background: #30477a;
    color: #fff
}

/*footer*/

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footerLeft {
  float: left;
}

.footerRight {
  float: right;
}
