<template name="KillerContent">
  <div id="KillerContent">
    <div class="container">
      {{#if loggingIn}}
        {{> LoggingInDialogue}}
      {{else}}
        {{#if currentUser}}
          <div class="row">
            <div class="col-xs-12">
              {{> KillerAdBannerTop}}
            </div>
            <div class="col-md-4 mobile-hidden" style="display:none">
              {{> KillerAdBannerLeft}}
            </div>
            <div class="col-md-4">
              {{#if Template.subscriptionsReady}}
                {{> KillerGameWeekMatches}}
                {{> KillerLeagues}}
              {{else}}
                {{> spinner}}
              {{/if}}
            </div>
            <div class="col-md-4 mobile-hidden" style="display:none">
              {{> KillerAdBannerRight}}
            </div>
          </div>
        {{else}}
          {{> SignUpLogIn}}
        {{/if}}
      {{/if}}
    </div>
  </div>
</template>
