<template name="KillerContent">
  <div id="KillerContent">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          {{> KillerAdBannerTop}}
        </div>
        <div class="col-md-3 mobile-hidden" style="display:none">
          {{> KillerAdBannerLeft}}
        </div>
        <div class="col-md-6">
          {{#if loggingIn}}
            {{> LoggingInDialogue}}
          {{else}}
            {{#if currentUser}}
              {{#if Template.subscriptionsReady}}
                {{> KillerGameWeekMatches}}
                {{> KillerLeagues}}
              {{else}}
                {{> spinner}}
              {{/if}}
            {{else}}
              {{> SignUpLogIn}}
            {{/if}}
          {{/if}}
        </div>
        <div class="col-md-3 mobile-hidden" style="display:none">
          {{> KillerAdBannerRight}}
        </div>
      </div>
    </div>
  </div>
</template>
