<template name="KillerContent">
  <div id="KillerContent">
    <div class="container">
      {{#if loggingIn}}
        {{> LoggingInDialogue}}
      {{else}}
        {{#if currentUser}}
          {{> KillerAdBannerTop}}
          {{> KillerAdBannerLeft}}
          {{#if Template.subscriptionsReady}}
            {{> KillerGameWeekMatches}}
            {{> KillerLeagues}}
          {{else}}
            {{> spinner}}
          {{/if}}
          {{> KillerAdBannerRight}}
        {{else}}
          {{> SignUpLogIn}}
        {{/if}}
      {{/if}}
    </div>
  </div>
</template>
