<template name="Navbar">
  <div id="KillerNavbar">
    <div class="clearfix">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapsingMenu" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img class="little-Logo" src="https://s3-eu-west-1.amazonaws.com/killerpicks/killerZip.png" alt="Logo" /></a>
            <span class="visible-xs"><h3>killer <i class="fa fa-futbol-o killer-dot"></i> football</h3></span>
          </div>

          {{#if currentUser}}
            <div class="collapse navbar-collapse collapsingMenu">
              <ul class="nav navbar-nav navbar-left">
                <li><a class="modalButton" data-modal="modalStartKillerLeague" id="buttonStartKillerLeague">Start a league</a></li>
                <li><a class="modalButton" data-modal="modalJoinKillerLeague" id="buttonJoinKillerLeague">Join a league</a></li>
                <li><a class="modalButton" data-modal="modalKillerRules" id="buttonKillerRules">Full rules</a></li>
                <li><a class="modalButton" data-modal="modalGettingStarted" id="buttonGettingStarted">Getting started</a></li>
              </ul>

              <ul class="nav navbar-nav navbar-right">
                {{> MyKillerAccount}}
              </ul>

            </div><!-- /.navbar-collapse -->
          {{else}}
            <div class="collapse navbar-collapse collapsingMenu">
              <ul class="nav navbar-nav navbar-left">
                <li><button class="btn modalButton navbar-btn" data-modal="modalKillerRules" id="buttonKillerRules">Full rules</button></li>
                <li><button class="btn modalButton navbar-btn" data-modal="modalGettingStarted" id="buttonGettingStarted">Getting started</button></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><button class="btn modalButton navbar-btn" data-modal="modalLoginForm">Log in</button></li>
              </ul>
            </div>
          {{/if}}
        </div><!-- /.container-fluid -->
      </nav>
    </div>
  </div>
</template>
