<template name="WelcomeNote">
  <div id="WelcomeNote">
    <div class="jumbotron">
      <h3>Welcome to killer <i class="fa fa-futbol-o killer-dot"></i> football!</h3>
      <img class="bigLogo" src="https://s3-eu-west-1.amazonaws.com/killerpicks/killerbeta.png" alt="Logo" />
      <p class="lead">
        It looks like you aren't part of any leagues right now. If it's your first time here, see how to get started below, or read the <a class="modalButton" data-modal="modalKillerRules" id="buttonKillerRules">Full rules</a>.
      </p>
      <div class="getting-started">
        <h4>Getting started</h4>
        <p class="smaller-font">
          <span class="bold">killer</SPAN> is a football predictions game. Get together with your friends, form a (free) league, and see who's the best at picking winners.
        </p>
        <p class="smaller-font">
          All you need to do to play is <span class="bold">pick a team you think will win</span> over the weekend's Premier League action. <span class="bold">Get it right and you live</span> to play for another week. <span class="bold">Get it wrong, and you're eliminated</span> from the league (don't worry, you can just start another!). <span class="bold">Last one standing is crowned champion.</span>
        </p>
        <ul>
          <h4>Need to know</h4>
          <li><span class="fa fa-bomb fa-inverse"></span> Once you've picked a team, you can't pick it again in that league. Be strategic...</li>
          <li><span class="fa fa-bomb fa-inverse"></span> Every week there's a deadline before the weekend's matches start, usually Saturday lunchtime</li>
          <li><span class="fa fa-bomb fa-inverse"></span> If you don't pick a team before the deadline, you'll get a random team (autopick)</li>
          <li><span class="fa fa-bomb fa-inverse"></span> Once the deadline passes, you can see your friends' picks by visiting the site</li>
          <li><span class="fa fa-bomb fa-inverse"></span> If ALL remaining players fail to pick a winner, the round is reset and no one is eliminated</li>
        </ul>
        <hr>
        <p class="smaller-font">
          If you've been sent a league entry code, hit <a class="modalButton" data-modal="modalJoinKillerLeague">Join a league</a>, paste in the code, and you're good to go.
        </p>
        <p class="smaller-font">
          If you'd like to start your own league, just hit <a class="modalButton" data-modal="modalStartKillerLeague">Start a league</a> and choose when you want it to start. You'll be given a league entry code to send to your friends - using our handy sharing buttons, or however you like.
        </p>
      </div>
    </div>
  </div>
</template>
