<template name="FullActiveLeagueDetails">
  <div id="FullActiveLeagueDetails">
    <div class="modal fade" role="dialog" tabindex="-1">
  		<div class="modal-dialog">
  			<div class="modal-content">

  				<div class="modal-header">
  					<button type="button" class="close" data-dismiss="modal">
  						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  					</button>
  					<h4 class="modal-title">{{leagueName}} in detail</h4>
  				</div>

  				<div class="modal-body">
            <!-- TODO: add an admin messages box -->
            {{#if acceptingNewMembers}}
              <ul>
                <li>League name: {{leagueName}}</li>
                <li>League chairman: {{chairmanName}}</li>
                {{#if equals round 0}}
                  <li>The first round of games for this league is on {{gameWeekDateFormatted dateStarting}}</li>
                {{else}}
                  <li>Deadline: invite friends and make your choices by {{currentDeadline}}</li>
                {{/if}}>

                <!-- TODO: mailto solution AND deadline-->
                <li>The league entry code is <span>{{_id}}</span>. Use the sharing buttons below to invite your friends (they open in a new window), or just copy and paste the code into an email</li>
              </ul>

              <ul class="sharingButtonsList">
                <li><a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fkiller.football&text=Join+my+league+on+killerDOTfootball+-+entry+code%3A+{{_id}}" class="btn btn-default btn-twitter"><i class="fa fa-twitter"></i> Twitter</a></li>
                <li><a class="btn btn-default btn-facebook facebookShare"><i class="fa fa-facebook"></i> Facebook</a></li>
                <li><a id="emailNewLeagueShare" class="btn btn-default btn-email"><i class="fa fa-envelope"></i> Email</a></li>
              </ul>

              <p>
                The following players have already joined this league:
              </p>
              <ul>
                {{#each members}}
                  <li>{{memberName}}</li>
                {{/each}}
              </ul>

            {{else}}

              <ul>
                <li>League name: {{leagueName}}</li>
                <li>League chairman: {{chairmanName}}</li>
                {{#if equals currentGameStatus "active"}}
                  <li>Deadline: make your choices by {{currentDeadline}}</li>
                {{/if}}
                <li>Round: {{round}}</li>
              </ul>

              <table>
                <h4>Remaining players</h4>
                <thead>
                  <tr>
                    <th>Name</th>
                    {{#if equals currentGameStatus "active"}}
                      <th>Choice</th>
                    {{/if}}
                  </tr>
                </thead>
                <tbody>
                  {{#each aliveMembers}}
                    <tr>
                      <td>{{memberName}}</td>
                      {{#if equals currentGameStatus "active"}}
                        <td>{{memberChoice}} {{#if isAutoPick}}(autopick){{/if}}</td>
                      {{/if}}
                    </tr>
                  {{/each}}
                </tbody>
              </table>

              <h4>Eliminated players</h4>
              <ul>
                {{#each deadMembers}}
                  <li>{{memberName}} (round {{diedInRound}})</li>
                {{/each}}
              </ul>

            {{/if}}
          </div>

          <div class="modal-footer">
			      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>
