<template name="GettingStarted">
  <div id="GettingStarted">
    <div class="modal fade" id="modalGettingStarted" tabindex="-1" role="dialog" aria-labelledby="Getting started with killer">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="gettingStartedLabel">Getting started</h4>
          </div>
          <div class="modal-body">
            <div class="getting-started">
              <p>
                <span class="bold">killer</SPAN> is a football predictions game. Get together with your friends, form a (free) league, and see who's the best at picking winners.
              </p>
              <p>
                If you've been sent a league entry code, hit <a class="modalButton" data-modal="modalJoinKillerLeague">Join a league</a>, paste in the code, and you're good to go.
              </p>
              <p>
                If you'd like to start your own league, just hit <a class="modalButton" data-modal="modalStartKillerLeague">Start a league</a> and choose when you want it to start. You'll be given a league entry code to send to your friends. We've made life easy for you with links for sharing the code on Twitter, on Facebook, or by email - but you can send it to your friends however you like.
              </p>
              <p>
                All you need to do to play is <span class="bold">pick a team you think will win</span> over the weekend's Premier League action. <span class="bold">Get it right and you live</span> to play for another week. <span class="bold">Get it wrong, and you're eliminated</span> from the league (don't worry, you can just start another!). <span class="bold">Last one standing is crowned champion.</span>
              </p>
              <ul>
                <h4>Need to know</h4>
                <li><span class="fa fa-bomb fa-inverse"></span> Once you've picked a team, you can't pick it again in that league. Be strategic...</li>
                <li><span class="fa fa-bomb fa-inverse"></span> Every week there's a deadline before the weekend's matches start, usually Saturday lunchtime</li>
                <li><span class="fa fa-bomb fa-inverse"></span> If you don't pick a team before the deadline, you'll get a random team (autopick)</li>
                <li><span class="fa fa-bomb fa-inverse"></span> Once the deadline passes, you can see your friends' picks by visiting the site</li>
                <li><span class="fa fa-bomb fa-inverse"></span> If ALL remaining players fail to pick a winner, the round is reset and no one is eliminated</li>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
