<template name="JoinKillerLeague">
  <div id="JoinKillerLeague">
    <div class="modal fade" role="dialog">
  		<div class="modal-dialog">
  			<div class="modal-content">

  				<div class="modal-header">
  					<button type="button" class="close" data-dismiss="modal">
  						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  					</button>
  					<h4 class="modal-title">Join a league</h4>
  				</div>

  				<div class="modal-body">
            <div id="joinLeagueForm" hidden={{showLeaguePreview}}>
              <p>
                If you've been sent a league entry code, paste it below. You will be able to review the details after pressing "submit".
              </p>
              <input type="text" id="userLeagueCode" placeholder="Paste code here">
              <div id="leagueCodeErrors" class="formErrorMessages">
                <span>{{codeErrorMessage}}</span>
              </div>
              <button type="submit" class="btn btn-primary" id="submitLeagueCodeButton">Submit</button>
            </div>
            {{#if showLeaguePreview}}
            <div id="leaguePreviewBeforeJoining">
              <p>
                Please review the details below and then hit confirm. If you have any questions, please email <a href="mailto:chairman@killer.football?subject=help">chairman@killer.football</a>
              </p>
              <ul>
                <li>You are joining a league called {{leaguePreviewDetails.leagueName}}</li>
                <li>The first round of games for this league is played on {{leaguePreviewDetails.dateStarting}}</li>
                <li>The chairman of this league is <!-- TODO: insert name --> </li>
                {{#if leaguePreviewDetails.entryFee}}
                  <li>This league has a prize pool. Players will pay £{{leaguePreviewDetails.entryFee}} plus 10% processing fee</li>
                  <li>The winner will be paid within two weeks of the league ending</li>
                {{else}}
                  <li>There is no prize pool. You play for honour alone</li>
                {{/if}}
              </ul>
              <button type="submit" class="btn btn-primary" id="confirmJoinLeagueButton">Confirm</button>
            </div>
          {{/if}}
          </div>

          <div class="modal-footer">
			      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>
