<template name="JoinKillerLeague">
  <div id="JoinKillerLeague">
    <div class="modal fade" role="dialog" tabindex="-1">
  		<div class="modal-dialog">
  			<div class="modal-content">

  				<div class="modal-header">
  					<button type="button" class="close" data-dismiss="modal">
  						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  					</button>
  					<h4 class="modal-title">Join a league</h4>
  				</div>

  				<div class="modal-body">
            <p>
              If you've been sent a league entry code, paste it below. You will be able to review the details after pressing "submit".
            </p>
            <form id="joinLeagueForm" hidden={{showLeaguePreview}} class="form-inline">
              <div class="form-group">
                <div class="input-group">
                  <input type="text" id="userLeagueCode" placeholder="Paste code here" class="form-control">
                  <span class="input-group-btn"><button type="submit" class="btn btn-primary" id="submitLeagueCodeButton">Submit</button></span>
                </div>
              </div>
              <div id="leagueCodeErrors" class="formErrorMessages">
                <span>{{codeErrorMessage}}</span>
              </div>
            </form>

            {{#if equals displayControlJoin "preview"}}
              {{#with leaguePreviewDetails}}
                {{> JoinLeaguePreview}}
              {{/with}}
            {{/if}}

            {{#if equals displayControlJoin "success"}}
              {{#with leaguePreviewDetails}}
                {{> JoinLeagueSuccess}}
              {{/with}}
            {{/if}}
          </div>

          <div class="modal-footer">
			      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<template name="JoinLeaguePreview">
  <div id="JoinLeaguePreview">
    <p>
      Please review the details below and then hit confirm. If you have any questions, please email <a href="mailto:chairman@killer.football?subject=help" target="_blank">chairman@killer.football</a>
    </p>
    <ul>
      <li>You are joining a league called {{leagueName}}</li>
      <li>First round deadline: {{formatDate leagueDeadline "deadlineDate"}}</li>
      <li>The chairman of this league is {{chairmanName}} </li>
    </ul>
    <button type="submit" class="btn btn-primary" id="confirmJoinLeagueButton">Confirm</button>
  </div>
</template>

<template name="JoinLeagueSuccess">
  <div id="JoinLeagueSuccess">
    <h3>Success!</h3>
    <p>
      You have successfully joined "{{leagueName}}" - good luck!
    </p>
    <p>
      Use the sharing buttons below to invite your friends before the first round deadline: {{formatDate leagueDeadline "deadlineDate"}}
    </p>
    {{> SharingWithCodeSmall entryCode=_id}}
  </div>
</template>
