<template name="JoinKillerLeague">
  <div id="JoinKillerLeague">
    <div class="modal fade" role="dialog" tabindex="-1">
  		<div class="modal-dialog">
  			<div class="modal-content">

  				<div class="modal-header">
  					<button type="button" class="close" data-dismiss="modal">
  						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  					</button>
  					<h4 class="modal-title">Join a league</h4>
  				</div>

  				<div class="modal-body">
            <div id="joinLeagueForm" hidden={{showLeaguePreview}}>
              <p>
                If you've been sent a league entry code, paste it below. You will be able to review the details after pressing "submit".
              </p>
              <input type="text" id="userLeagueCode" placeholder="Paste code here">
              <div id="leagueCodeErrors" class="formErrorMessages">
                <span>{{codeErrorMessage}}</span>
              </div>
              <button type="submit" class="btn btn-primary" id="submitLeagueCodeButton">Submit</button>
            </div>

            {{#if equals displayControlJoin "preview"}}
              {{#with leaguePreviewDetails}}
                {{> JoinLeaguePreview}}
              {{/with}}
            {{/if}}

            {{#if equals displayControlJoin "success"}}
              {{#with leaguePreviewDetails}}
                {{> JoinLeagueSuccess}}
              {{/with}}
            {{/if}}
          </div>

          <div class="modal-footer">
			      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<template name="JoinLeaguePreview">
  <div id="JoinLeaguePreview">
    <p>
      Please review the details below and then hit confirm. If you have any questions, please email <a href="mailto:chairman@killer.football?subject=help">chairman@killer.football</a>
    </p>
    <ul>
      <li>You are joining a league called {{leagueName}}</li>
      <li>First round deadline: {{formatDate leagueDeadline "deadlineDate"}}</li>
      <li>The chairman of this league is {{chairmanName}} </li>
    </ul>
    <button type="submit" class="btn btn-primary" id="confirmJoinLeagueButton">Confirm</button>
  </div>
</template>

<template name="JoinLeagueSuccess">
  <div id="JoinLeagueSuccess">
    <h3>Success!</h3>
    <p>
      You have successfully joined {{leagueName}} - good luck!
    </p>
    <div>
      <ul>
        <li>Invite your friends using the sharing buttons below</li>
        <li>Or send them the league code however you like: {{_id}}</li>
        <li>First round deadline: {{formatDate leagueDeadline "deadlineDate"}}</li>
      </ul>
      <ul class="sharingButtonsList">
        <li><a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fkiller.football&text=Join+my+league+on+killerDOTfootball+-+entry+code%3A+{{_id}}" class="btn btn-default btn-twitter"><i class="fa fa-twitter"></i> Twitter</a></li>
        <li><a id="facebookNewLeagueShare" class="btn btn-default btn-facebook facebookShare"><i class="fa fa-facebook"></i> Facebook</a></li>
        <li><a id="emailNewLeagueShare" class="btn btn-default btn-email"><i class="fa fa-envelope"></i> Email</a></li>
      </ul>
    </div>
  </div>
</template>
