<template name="KillerRules">
  <div id="KillerRules">
    <div class="modal fade" id="modalKillerRules" tabindex="-1" role="dialog" aria-labelledby="Rules of Killer">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="fullRulesLabel">Killer rules</h4>
          </div>
          <div class="modal-body">
            <h3>Full rules of the game</h3>
            <br>
            <ul>
              <li>Killer is a <b>free football predictions</b> web app</li>
              <li><b>Players form "leagues"</b> together and battle it out to see who's best at picking winners</li>
              <li>Players can form as many leagues as they like for free - at any time during the Premier League season. A unique entry code is generated and league chairmen should share this with their friends in good time for them to make their picks</li>
              <li><b>Every week, each player picks a Premier League team</b> they think will win their fixture that week</li>
              <li><b>Once a player has picked a team, they cannot pick that team again in that league</b></li>
              <li>If the player's chosen team wins, they progress to the next round. <b>If they lose or draw, the player is eliminated</b></li>
              <li><b>The deadline for submitting your choices for the week is around 12 noon (UK time) on Saturdays.  Players failing to submit teams before then will be assigned random teams (autopicks)</b></li>
              <li>Late entries (i.e. after a league's matches have started) are not possible</li>
              <li>If ALL remaining players fail to pick a winner, the round is reset and no one is eliminated</li>
              <li><b>The last player standing is the champion</b></li>
              <li>A tiebreak question will be provided for the last weekend of the Premier League, to ensure all leagues can be won.</li>
              <li>Players will only be able to see their leaguemates' weekly picks after the week's deadline has passed</li>
              <li>Any disputes will be decided unilaterally by <a href="mailto:chairman@killer.football?subject=Feedback" target="_blank">the creator of Killer</a>.</li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
