<template name="StartKillerLeague">
  <div id="StartKillerLeague">
    <div class="modal fade" role="dialog" tabindex="-1">
  		<div class="modal-dialog">
  			<div class="modal-content">

  				<div class="modal-header">
  					<button type="button" class="close" data-dismiss="modal">
  						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  					</button>
  					<h4 class="modal-title">Start a league</h4>
  				</div>

  				<div class="modal-body">
            {{#autoForm collection="Leagues" id="startLeagueForm" type="insert"}}
              <div hidden={{showForm}}>
                <fieldset>
                  <div id="startLeagueIntro">
                    <p>
                      Just choose a name and pick which weekend you want to start with.
                    </p>
                    <p>
                      Once the league is created you'll get a unique entry code to share with your friends.
                    </p>
                    <p>
                      Questions? <a href="mailto:chairman@killer.football?subject=help">chairman@killer.football</a>
                    </p>
                  </div>
                  {{> afQuickField name="leagueName" placeholder="Give your league a name"}}
                  {{> afQuickField name="dateStarting" type="select" options=pLGameweeksRemainingOptions}}
                </fieldset>
                <button id="showPreviewButton" type="button" class="btn btn-primary">Start your league!</button>
              </div>

              <!-- TODO:  unique league names?-->
              {{#if equals displayControlStart "preview"}}
                {{#with startLeagueFormFields}}
                  {{> StartLeaguePreview}}
                {{/with}}
              {{/if}}
              {{#if equals displayControlStart "success"}}
                {{#with startLeagueFormFields}}
                  {{> StartLeagueSuccess}}
                {{/with}}
              {{/if}}
            {{/autoForm}}
          </div>

          <div class="modal-footer">
			      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<template name="StartLeaguePreview">
  <div id="StartLeaguePreview">
    <p>
      Please check the details below and confirm or make changes:
    </p>
    <ul>
      <li>Your league name will be {{insertDoc.leagueName}}</li>
      <li>Your league's first round of games will be on {{insertDoc.dateStarting}}</li>
    </ul>
    <button id="makeChangesButton" type="button" class="btn btn-primary">Make changes</button>
    <button type="submit" class="btn btn-primary">Confirm</button>
  </div>
</template>

<template name="StartLeagueSuccess">
  <div id="StartLeagueSuccess">
    {{#if newLeagueCode}}
      <h3>Success!</h3>
      <p>
        You have successfully created "{{insertDoc.leagueName}}" - good luck!
      </p>
      <p>
        Use the sharing buttons below to invite your friends before the first round deadline: {{formatDate newLeagueDeadline "deadlineDate"}}
      </p>
      {{> SharingWithCodeSmall entryCode=newLeagueCode}}
    {{else}}
      {{> spinner}}
    {{/if}}
  </div>
</template>
