<template name="StartKillerLeague">
  <div id="StartKillerLeague">
    <div class="modal fade" role="dialog" tabindex="-1">
  		<div class="modal-dialog">
  			<div class="modal-content">

  				<div class="modal-header">
  					<button type="button" class="close" data-dismiss="modal">
  						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  					</button>
  					<h4 class="modal-title">Start a league</h4>
  				</div>

  				<div class="modal-body">
            {{#autoForm collection="Leagues" id="startLeagueForm" type="insert"}}
              <div hidden={{showForm}}>
                <fieldset>
                  <div id="startLeagueIntro">
                    <p>
                      Starting a new league couldn't be simpler! Just choose a name (nothing too naughty, please), and pick which weekend you want to start with.
                    </p>
                    <p>
                      Once you've created your league, we'll show you how to invite your friends to play.
                    </p>
                    <p>
                      If you have any questions, just email <a href="mailto:chairman@killer.football?subject=help">chairman@killer.football</a>
                    </p>
                  </div>
                  {{> afQuickField name="leagueName" placeholder="Give your league a name"}}
                  {{> afQuickField name="dateStarting" type="select" options="allowed"}}
                </fieldset>
                <button id="showPreviewButton" type="button" class="btn btn-primary">Start your league!</button>
              </div>

              <!-- TODO:  clean this up and move from #if to hidden= to match above-->
              {{#if equals displayControlStart "preview"}}
                <div>
                  <p>
                    Please check the details below and confirm or make changes:
                  </p>
                  <ul>
                    <li>Your league name will be {{startLeagueFormFields.insertDoc.leagueName}}</li>
                    <li>Your league's first round of games will be on {{startLeagueFormFields.insertDoc.dateStarting}}</li>
                  </ul>
                  <button id="makeChangesButton" type="button" class="btn btn-primary">Make changes</button>
                  <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
              {{/if}}
              {{#if equals displayControlStart "success"}}
                <h3>Success!</h3>
                <!-- TODO: add deadline for games -->
                <p>
                  You have created {{startLeagueFormFields.insertDoc.leagueName}} - good luck!
                </p>
                <div>
                  <p>
                    Now invite your friends to join you - you can:
                  </p>
                  <ul>
                    <li>Click here to open an email pre-filled with all the details</li>
                    <li>Use the sharing links below</li>
                    <li>Send them your unique league code however you like: {{newLeagueCode}}</li>
                  </ul>
                  <ul>
                    <li><a id="facebookShare" class="btn btn-default btn-sm" href="#"><i class="fa fa-facebook-square"></i>Share</a></li>
                  </ul>
                </div>
              {{/if}}
            {{/autoForm}}
          </div>

          <div class="modal-footer">
			      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>
