<template name="MyAccountDetails">
  <div id="MyAccountDetails">
    <div class="modal fade" role="dialog">
  		<div class="modal-dialog">
  			<div class="modal-content">

  				<div class="modal-header">
  					<button type="button" class="close" data-dismiss="modal">
  						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  					</button>
  					<h4 class="modal-title">Your account details</h4>
  				</div>

  				<div class="modal-body">
            <span>Your details</span>
  					<ul>
  					  <li>Logged in as: {{loggedInUserFullName}}</li>
              <li>Email: {{loggedInUserEmail}}</li>
  					</ul>
            <ul>
              <!-- TODO add bootstrap classes -->
              <li><button id="changeEmailButton">Change account email</button></li>
              <li><button id="changePasswordButton">Change your password</button></li>
              <li>For anything else, or if you experience problems, please email <a href="mailto:chairman@killer.football?subject=Killer Query">chairman@killer.football</a></li>
            </ul>
  				</div>

  				<div class="modal-footer">
  					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  				</div>

  			</div>
  		</div>
  	</div>
  </div>
</template>
