<template name="KillerChoiceWidget">
  <div id="KillerChoiceWidget">

    {{#if userDiedInRound}}
      <li>You died in round: {{userDiedInRound}}</li>
    {{else}}
      {{#if equals currentGameStatus "active"}}
        {{#if chosenTeamName}}
          <span>You picked: {{chosenTeamName}}</span>
        {{else}}
          {{> KillerChoiceForm}}
        {{/if}}
      {{else}}
        {{#if chosenTeamName}}
          <form id="REPICK_{{this._id}}" class="repickChoiceForm">
            <span>You picked: {{chosenTeamName}}</span>
            <button type="submit">Change your pick</button>
          </form>
        {{else}}
          {{> KillerChoiceForm}}
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
</template>

<template name="KillerChoiceForm">
  <div id="killerChoiceForm">
    <form class="killerChoiceForm">
      <span>Pick a team</span>
      <select class="teamsLeftDropDown" id="DD_{{this._id}}">
        <option selected="true" disabled>Pick this week's team</option>
        {{#each teamsLeft}}
          <option value={{.}}>{{.}}</option>
        {{/each}}
      </select>
      <button type="submit" name="killerChoiceButton" value="Submit">Submit</button>
    </form>
  </div>
</template>
