<template name="KillerChoiceWidget">
  <div id="KillerChoiceWidget">

    {{#if userDiedInRound}}
      <span>Your final pick was {{lastChoice}} in round: {{userDiedInRound}}</span>
    {{else}}
      {{#if equals currentGameStatus "active"}}
        {{#if chosenTeamName}}
          <span>You picked: <span class="pick-name">{{chosenTeamName}}</span></span>
        {{else}}
          {{> KillerChoiceForm}}
        {{/if}}
      {{else}}
        {{#if chosenTeamName}}
          <form id="REPICK_{{this._id}}" class="repickChoiceForm">
            <span>You picked: <span class="pick-name">{{chosenTeamName}}</span></span>
            <button class="btn btn-default" type="submit">Change</button>
          </form>
        {{else}}
          {{> KillerChoiceForm}}
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
</template>

<template name="KillerChoiceForm">
  <div id="KillerChoiceForm">
    <div class="container-fluid">
      <div class="row">
        <form class="killerChoiceForm form-inline">
          <div class="col-xs-8">
            <div class="form-group">
              <label class="sr-only" for="DD_{{this._id}}">Pick a team</label>
              <select class="teamsLeftDropDown form-control" id="DD_{{this._id}}">
                <option selected="true" disabled>Pick a team</option>
                {{#each teamsLeft}}
                  <option value={{.}}>{{.}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class="col-xs-2">
            <button type="submit" name="killerChoiceButton" value="Submit" class="btn btn-default">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
