<template name="KillerChoiceWidget">
  <div class="KillerChoiceWidget">
    {{#if userDiedInRound}}
      <span>Your final pick was {{lastChoice}} in round: {{userDiedInRound}}</span>
    {{else}}
      {{#if equals currentGameStatus "active"}}
        {{#if chosenTeamName}}
          <span>You picked: <span class="pick-name">{{chosenTeamName}}</span></span>
        {{else}}
          {{> KillerChoiceForm}}
        {{/if}}
      {{else}}
        {{#if chosenTeamName}}
          <form id="REPICK_{{this._id}}" class="repickChoiceForm form-inline">
            <span>You picked: <span class="pick-name">{{chosenTeamName}}</span></span>
            <button class="btn btn-default btn-responsive" type="submit">Change</button>
          </form>
        {{else}}
          {{> KillerChoiceForm}}
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
</template>

<template name="KillerChoiceForm">
  <div id="KillerChoiceForm">
    <div class="container-fluid">
      <form class="killerChoiceForm form-inline">
        <div class="form-group">
          <div class="input-group">
            <label class="sr-only" for="DD_{{this._id}}">Pick a team</label>
            <select class="teamsLeftDropDown form-control select-responsive" id="DD_{{this._id}}">
              <option selected="true" disabled>Pick a team</option>
              {{#each teamsLeft}}
                <option value={{.}}>{{.}}</option>
              {{/each}}
            </select>
            <span class="input-group-btn"><button type="submit" name="killerChoiceButton" value="Submit" class="btn btn-default btn-responsive">Submit</button></span>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
