
#KillerAliveLeagues {
  text-align: center;
}

.LeaguePanel {
  display: inline-block;
  width: 400px;
  max-width: 100%;;
}

.leagueRow {
  /*text-align: center;*/
  /*background-color: green;*/
}

@media only screen and (min-width : 768px) {
   .leagueRow.row {
	 display: flex;
	 flex-wrap: wrap;
   }
   .leagueRow.row > [class*='col-'] {
	 display: flex;
	 flex-direction: column;
   }
}

.leagueText {
  text-align: center;
}

.panel-deadline {
  font-weight: bold;
  text-align: center;
  padding-bottom: 5px;
}

@media only screen and (max-width: 405px) {

   .panel-body { font-size: 90%; }

   .select-responsive {
      height: 22px;
      padding: 2px 5px;
      font-size: 10px;
      line-height: 1.5;
      border-radius: 3px;
      width: auto;
    }

    .btn-responsive, .form-responsive {
      padding:5px 5px;
      font-size:10px;
      line-height: 1;
    }
}

.MiniActiveLeagueDetails ul {
  padding-left: 0;
  list-style-type: none;
}

.players-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.killerChoiceForm select {
  width : auto !important;
  display: inline;
}

.killerChoiceForm .form-group, .repickChoiceForm .btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

/*show hide panels*/

.hidden-mobile-details.in, .hidden-mobile-details.collapsing {
  display: block !important;
}

.show-hide-info {

}

.two-cols {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.toggleLeagues {
  background: rgba(232,219,219,0.9);
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}


/*bars*/

#KillerAliveLeagues > div {
  margin-bottom: 10px;
}

.killer-panel {
  background-color : rgba(200,200,200,0.4);
  width : 290px;
  margin-bottom: 10px;
}

.killer-panel-matches {
  padding: 0;
}

.killer-panel-matches ul {
  padding-left : 0;
  list-style-type: none;
  font-size: 8px;
  text-align: left;
}

.killer-panel-matches ul li {
  background-color: rgba(8, 10, 64, 0.8);
  margin-bottom : 3px;
  color: white;
}

.killer-panel-bar {
  margin-bottom : 3px;
  margin-right: 3px;
  background-color: rgba(8, 10, 64, 0.8);
  color : white;
  padding-left : 5px;
  height: 25px;
}

.killer-panel-name {
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: italic;
}

.killer-panel-bar i {
  padding-top: 5px;
}

.killer-panel-bar-double {
  height: 60px !important;
}

.killer-panel-icon-double {
  border-right : 1px solid white;
  padding-right: 4px;
  height: 60px;
  width: 18px;
  padding-top: 18px;
}

.killer-panel-icon {
  border-right : 1px solid white;
  padding-right: 4px;
  height: 25px;
  width: 18px;
}

.killer-panel-set {
  max-width : 235px;
  margin-right : 3px;
}

.league-name {
  font-size: 130%;
}

.KillerChoiceWidget {
  text-align: center;
}
